<hr/>
<form class="form-inline" role="form">
<div class="form-group">
<label>Welcome</label>
<input type="text" class="form-control" ng-model="username" placeholder="Enter email">
</div>
</form>
<p> {{ username }}</p>


============================================


<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">



<title>艾麦欧建筑设计公司（M.A.O.）</title>
<meta name="keywords" content="">
<meta name="description" content="MAO mao 建筑设计 景观设计 城市规划 商业综合体 高级住宅 公园 建筑设计公司 绿地 万达商业广场 昆山花桥游站 保定万和"><meta id="description" name="description" content="日本M.A.O.一级建筑士事务所，1994年成立于日本东京，日本著名建筑师毛厚德先生领衔主持的，以城市规划建筑设计景观设计为主的专业事务所，是具有日本独立法人资格的设计单位,拥有一批高水平专业设计师，具有很强的设计实力和极其丰富的境外设计经验。">


<link href="./艾麦欧建筑设计公司（M.A.O.）_files/public.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="./艾麦欧建筑设计公司（M.A.O.）_files/colorbox.css" type="text/css">






<script type="text/javascript" src="./艾麦欧建筑设计公司（M.A.O.）_files/jquery.min.js"></script>

<script src="./艾麦欧建筑设计公司（M.A.O.）_files/jquery.colorbox.js"></script>













<style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
.en-markup-crop-options {
    top: 5px !important;
    left: 50% !important;
    margin-left: -100px !important;
    width: 500px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}

.en-markup-crop-options div div:first-of-type {
    margin-left: 0px !important;
}
</style></head>



<body>

<div id="obody" style="width: 1440px;">

   <div id="ibody" style="width: 2880px;">

      <div class="struct" style="width: 1440px;">

         <div class="mao_main">

	<div class="mao_top_title">

    	<div class="mao_mao">

        	<img src="./艾麦欧建筑设计公司（M.A.O.）_files/gulp.png" style="border:0;margin-top:16px;">

        </div>

     </div>

    <div class="mao_main_body">

    	<div class="mao_main_body_left_part">

        	<div class="mao_main_body_left_part_left">

        		<div class="mao_main_body_left_part_line_1">

            		<div class="mao_line_1_pic_1 mao_menu" param="" isget="0" >

                		<img src="./艾麦欧建筑设计公司（M.A.O.）_files/designing1.jpg" style="border:0">

                	</div>

                	<div class="mao_line_1_pic_2 zoomout" param="/zppx/jianzaojinxingshi/2013-11-06/217.html" isget="4" style="z-index: 1;">

                		<img src="./艾麦欧建筑设计公司（M.A.O.）_files/511d477c24e675c701edb7bfbc318f16.jpg" style="border:0">

                	</div>

                	<div class="mao_line_1_stack">

                		<div class="mao_line_1_pic_3 zoomout" param="/zppx/jianzaojinxingshi/2013-11-06/217.html" isget="4" style="z-index: 1;">

                    		<img src="./艾麦欧建筑设计公司（M.A.O.）_files/511d477c24e675c701edb7bfbc318f16.jpg" style="border:0">

                    	</div>

                    	<div class="mao_line_1_pic_4 zoomout" param="/zppx/jianzaojinxingshi/2013-11-06/217.html" isget="4" style="z-index: 1;">

                    		<img src="./艾麦欧建筑设计公司（M.A.O.）_files/511d477c24e675c701edb7bfbc318f16.jpg" style="border:0">

                    	</div>

                    	<div class="mao_line_1_pic_5 zoomout" param="/zppx/jianzaojinxingshi/2013-11-06/217.html" isget="4">

                    		<img src="./艾麦欧建筑设计公司（M.A.O.）_files/511d477c24e675c701edb7bfbc318f16.jpg" style="border:0">

                    	</div>

                    	<div class="mao_line_1_pic_6 zoomout" param="/zppx/jianzaojinxingshi/2013-11-06/217.html" isget="4">

                    		<img src="./艾麦欧建筑设计公司（M.A.O.）_files/511d477c24e675c701edb7bfbc318f16.jpg" style="border:0">

                    	</div>

                	</div>

            	</div>

                <div class="mao_main_body_left_part_line_2 zoomout" param="/zppx/jianzaojinxingshi/2013-11-06/217.html" isget="4" style="z-index: 1;">

            		<img src="./艾麦欧建筑设计公司（M.A.O.）_files/511d477c24e675c701edb7bfbc318f16.jpg" style="border:0">

            	</div>

            </div>

            <div class="mao_main_body_left_part_right">

            	<div class="mao_main_body_left_part_right_line1">

                	<div class="mao_left_part_right_line1_left">

                		<div class="mao_line_1_pic_7 zoomout"  isget="4" param="/zppx/jianzaojinxingshi/2013-04-01/124.html" style="z-index: 1;">

                    		<img src="./艾麦欧建筑设计公司（M.A.O.）_files/511d477c24e675c701edb7bfbc318f16.jpg" style="border:0">

                    	</div>

                    	<div class="mao_line_1_pic_8 zoomout" param="/zppx/jianzaojinxingshi/2013-04-01/124.html" isget="4">

                    		<img src="./艾麦欧建筑设计公司（M.A.O.）_files/511d477c24e675c701edb7bfbc318f16.jpg" style="border:0">

                    	</div>

                    	<div class="mao_line_1_pic_9 zoomout" param="/zppx/jianzaojinxingshi/2013-02-27/89.html" isget="4">

                    		<img src="./艾麦欧建筑设计公司（M.A.O.）_files/511d477c24e675c701edb7bfbc318f16.jpg" style="border:0">

                    	</div>

                    </div>

                    <div class="mao_left_part_right_line1_right mao_menu" param="" isget="0" href="/zppx/" right_href="/zppx/jianzaojinxingshi/index.html">

                        <div class="mao_constructing">

                    	    <img src="./艾麦欧建筑设计公司（M.A.O.）_files/constructing1.jpg" style="border:0">

                        </div>

                    </div>

                </div>

                <div class="mao_main_body_left_part_right_line2">

                	<div class="mao_left_part_right_line2_line1">

                        <!--企业介绍-->

                    	<div class="mao_company_introduction mao_menu" href="/qyjs/" isget="0">

                        	<img src="./艾麦欧建筑设计公司（M.A.O.）_files/company_introduction.jpg" style="border:0">

                        </div>

                        <!--新闻沙龙-->

                        <div class="mao_news_and_sharon mao_menu" href="/xwsl/" isget="0">

                        	<img src="./艾麦欧建筑设计公司（M.A.O.）_files/news_and_sharon.jpg" style="border:0">

                        </div>

                        <!--招贤纳士-->

                        <div class="mao_employee mao_menu" href="/rcpyzp/" isget="0">

                        	<img src="./艾麦欧建筑设计公司（M.A.O.）_files/employee.jpg" style="border:0">

                        </div>
  
                       <!--业务联系-->
                        <div class="mao_contract mao_menu" href="/ywlx/" isget="0">

                        	<img src="./艾麦欧建筑设计公司（M.A.O.）_files/contract.jpg" style="border:0">

                        </div>


                    </div>

                    <div class="mao_left_part_right_line2_line2">

                        <!--作品评选-->

                    	<div class="mao_product_and_crisis mao_menu" href="/zppx/px/" isget="0">

                    		<img src="./艾麦欧建筑设计公司（M.A.O.）_files/product_and_crisis.jpg" style="border:0">

                        </div>

                        <!--学术媒体刊登-->

                        <div class="mao_media_magazine mao_menu" href="/xsmtkd/" isget="0">

                        	<img src="./艾麦欧建筑设计公司（M.A.O.）_files/media_magazine.jpg" style="border:0">

                        </div>

                        

                    </div>

                </div>

            </div>

        </div>

 
   <div class="beian">页脚</div>
   
      </div>

   </div>

</div>



    <script>

    var zoom_flag = 1;



    function zoomout() {

	$(".zoomout").each(function(i, obj) {

    	    // 放大形如div(zoomout).img

	    var clone;

	    var position;

	    $(obj).bind("mouseover", function(e){

                                if(zoom_flag==1){

                		var init_width = $(obj).find("img").width();

                		var init_height = $(obj).find("img").height();

                		if(init_width > init_height) {

                		    var zoom_width = init_width + 10;

                		    var zoom_height = init_height * zoom_width / init_width;

                		} else {

                		    var zoom_height = init_height + 10;

                		    var zoom_width = init_width * zoom_height / init_height;

                		}

                		

                		clone = $(obj).clone();

                		$(clone).addClass("clonedItem").find("img").css({"height":zoom_height+"px", "width":zoom_width+"px"});

                		

                		var $this = $(this);

                		position = $this.find("img").position();

                		//console.log(position);

                		var zoom_left = position.left - (zoom_width-init_width)/2;

                		var zoom_top = position.top - (zoom_height-init_height)/2;

                		//console.log(zoom_top);

                		$(".clonedItem").animate({

                		    height: init_height+"px",

                		    width: init_width+"px"

                		}, 0, function(){$(".clonedItem").remove();});

                		

                		$this.css("z-index", 1);

                		$(clone).css("top", zoom_top).css("left", zoom_left).css("z-index", 99);

                		

                		$(clone).appendTo("body").css({"position":"absolute", "margin":0}).animate({

                		    height: zoom_height+"px",

                		    width: zoom_width+"px"

                		}, 0, function(){

                		    $(clone).bind("mouseout", function(e){

                			$(clone).animate({

                			    height: init_height+"px",

                			    width: init_width+"px"

                			}, 0, function(){$(clone).remove();});



                		    }); // end mouseout

                		    

                		}); // end animate callback

		

	               }//end if zoom_flag

                          }); // end mouseover



	}); // end document.ready



    }			//end function zoomout









$(document).ready(function(){




    zoomout();







//页面移动函数








 $('.clonedItem').live('click',function(e){

//概念进行式/建造进行式

if($(this).attr('isget')==4 ){
   $.colorbox({href:$(this).attr('param'), speed: "2000",  initialWidth: 0, initialHeight: 0, opacity: 0.5, previous: "", next: "", current: ""});
}


if($(this).attr('isget')==2 ){
   $.colorbox({href:$(this).attr('param'), speed: "2000",  initialWidth: 0, initialHeight: 0, opacity: 0.5, previous: "", next: "", current: ""});
}


}); 


//menu变色
//企业介绍：
$('.mao_company_introduction img').live('mouseout',function(){

     $(this).attr("src","./艾麦欧建筑设计公司（M.A.O.）_files/company_introduction.jpg");
});
$('.mao_company_introduction img').live('mouseover',function(){
     $(this).attr("src","./艾麦欧建筑设计公司（M.A.O.）_files/company_introduction1.jpg");
});
//

// 新闻资讯
$('.mao_news_and_sharon img').live('mouseout',function(){

     $(this).attr("src","./艾麦欧建筑设计公司（M.A.O.）_files/news_and_sharon.jpg");
});
$('.mao_news_and_sharon img').live('mouseover',function(){
     $(this).attr("src","./艾麦欧建筑设计公司（M.A.O.）_files/news_and_sharon1.jpg");
});

$('.mao_employee img').live('mouseout',function(){

     $(this).attr("src","./艾麦欧建筑设计公司（M.A.O.）_files/employee.jpg");
});
$('.mao_employee img').live('mouseover',function(){
     $(this).attr("src","./艾麦欧建筑设计公司（M.A.O.）_files/employee1.jpg");
});

$('.mao_contract img').live('mouseout',function(){

     $(this).attr("src","./艾麦欧建筑设计公司（M.A.O.）_files/contract.jpg");
});
$('.mao_contract img').live('mouseover',function(){
     $(this).attr("src","./艾麦欧建筑设计公司（M.A.O.）_files/contract1.jpg");
});

$('.mao_product_and_crisis img').live('mouseout',function(){

     $(this).attr("src","./艾麦欧建筑设计公司（M.A.O.）_files/product_and_crisis.jpg");
});
$('.mao_product_and_crisis img').live('mouseover',function(){
     $(this).attr("src","./艾麦欧建筑设计公司（M.A.O.）_files/product_and_crisis1.jpg");
});

$('.mao_media_magazine img').live('mouseout',function(){

     $(this).attr("src","./艾麦欧建筑设计公司（M.A.O.）_files/media_magazine.jpg");
});
$('.mao_media_magazine img').live('mouseover',function(){
     $(this).attr("src","./艾麦欧建筑设计公司（M.A.O.）_files/media_magazine1.jpg");
});//
$('.mao_line_1_pic_1 img').live('mouseout',function(){
     $(this).attr("src","./艾麦欧建筑设计公司（M.A.O.）_files/designing1.jpg");
});
$('.mao_line_1_pic_1 img').live('mouseover',function(){
     $(this).attr("src","./艾麦欧建筑设计公司（M.A.O.）_files/designing.jpg");
});

$('.mao_constructing img').live('mouseout',function(){
     $(this).attr("src","./艾麦欧建筑设计公司（M.A.O.）_files/constructing1.jpg");
});
$('.mao_constructing img').live('mouseover',function(){
     $(this).attr("src","./艾麦欧建筑设计公司（M.A.O.）_files/constructing.jpg");
});

  });

    </script>




</div>
</div>

<div id="cboxOverlay" style="display: none;"></div>

<div id="colorbox" class="" style="display: none;">
<div id="cboxWrapper">
<div><div id="cboxTopLeft" style="float: left;"></div>
<div id="cboxTopCenter" style="float: left;">
</div><div id="cboxTopRight" style="float: left;"></div>
</div><div style="clear: left;">
<div id="cboxMiddleLeft" style="float: left;"></div>
<div id="cboxContent" style="float: left;"><div id="cboxTitle" style="float: left;"></div><div id="cboxCurrent" style="float: left;">
</div><div id="cboxNext" style="float: left;"></div><div id="cboxPrevious" style="float: left;"></div>
<div id="cboxSlideshow" style="float: left;"></div><div id="cboxClose" style="float: left;"></div>
</div><div id="cboxMiddleRight" style="float: left;"></div></div><div style="clear: left;"><div id="cboxBottomLeft" style="float: left;">
</div><div id="cboxBottomCenter" style="float: left;"></div><div id="cboxBottomRight" style="float: left;"></div></div></div>
</div></body></html>
